

body {
    color: palevioletred;

    background-color: oldlace;

    width: fit-content;

    font-size: 2.5vw; /*to help with font sizes*/

    font-weight: bolder;

    font-style: italic;

    font-family: Cambria, Georgia, "Book Antiqua", sans-serif;

    margin-left: 15%; /*change if you dont like*/
    margin-right: 15%;

 

}

p{
    color: gray;
    
}

ol{
    color: cornflowerblue;
    margin-right: 8%;
    margin-left: 0.2%;
}

li{
    margin-left: 3px;
    margin-right: 10px;
    margin-bottom: 6px;

}

h2 {
    color: lightsalmon;
 
    width: fit-content;
}

h1 {
    color: darkgoldenrod;
    background-color: black;
    
}

h3 {
    color: red;

    

    width: fit-content;
}

a {
    text-decoration: none;
}
a:visited {
    color: lime;
    


}
a:link {
    color: black;
    background-color: cadetblue;
   
}



a:hover {
    color: firebrick;
    background-color: wheat;

}

a:active {
    color: violet;
}

div.cb{
    color: white;
    background-color: black;
    width:fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large;
    
    
}

h1,h3 {

    color: hotpink;
}

h3 em,strong{

    color:chartreuse;
    background-color: black;
}

p.yesfact {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: salmon;
}

img#img1100{
    width: 50%;
}

img#img1111{
    width: 300;
}

img#img0011{
    width: 90%;
    height: 40%;
    float: left;
    
}

a#link{
    background-color: oldlace;
}

ol li {
    margin-bottom: 0.5em;
}