

body {
    color: palevioletred;
    text-align: center;

    background-color: oldlace;

    width: fit-content;

    font-size: 2vw; /*to help with font sizes*/

    font-weight: bolder;

    font-style:normal;

    font-family: Cambria, Georgia, "Book Antiqua", sans-serif;

    margin-left: 18%; /*change if you dont like*/
    margin-right: 18%;

 

}

div.flexible {  
    display:flex;  
    /* border: 2px dotted purple; */
    justify-content:space-between;
    text-align: center;
    padding-top: 2px;
    background-color: blanchedalmond;
}

div.content{
width: 100%;
height: 100px;
margin-left: 1%;
margin-right: 1%;
font-size: large;
height: fit-content;
margin-bottom: 5%;
/* border: 2px dotted black; */
text-align: center;
}

div.content a{
    color: black;
    background-color: oldlace;
    text-decoration: wavy;
}

div.content a:hover{
    background-color: mediumslateblue;
}

div#footer{
    display: flex;
    text-align: center;
    /* border: 2px dotted black; */
}

div.foot{
    width: 100%;
    font-size: small;
    padding-left: 5em;
    padding-top: 5em;
    text-align: center;
    justify-content: space-around;
    
}

p{
    color: gray;
    
}

ol{
    color: cornflowerblue;
    margin-right: 8%;
    margin-left: 0.2%;
}

li{
    margin-left: 3px;
    margin-right: 10px;
    margin-bottom: 6px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;

}

ol li{
    border: 2px dotted black;
    margin-right: 2em;
    padding-top: 1.25em;
    padding-bottom: 2.5em;
    margin-top: 1em;
    height: 25px;
    
    
 
    
}

h2 {
    color: lightsalmon;
 
    width: fit-content;
}

h1 {
    color: darkgoldenrod;
    background-color: black;
    font-size: 50pt;
    width: 100%;
    
}

h3 {
    color: red;

    

    width: fit-content;
}

a {
    text-decoration: none;   
    transition-property: border-bottom color;
    transition-duration: 0.3s;
    border-bottom: 2px solid transparent;
}
a:visited {
    color: lime;
    


}
a:link {
    color: black;
    background-color: cadetblue;

}



a:hover {
    color: firebrick;
    background-color: wheat;
    border-bottom: 1px solid royalblue;

}

a:active {
    color: violet;
}

div.cb{
    color: white;
    background-color: black;
    width:fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    
    
}

h1,h3 {

    color: hotpink;
}

h3 em,strong{

    color:chartreuse;
    background-color: black;
}

p.yesfact {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: salmon;
}

img#img1100{
    width: 50%;
}

img#img1111{
    width: 80%;
}

img#img0011{
    width: 60%;
    height: 40%;
    float: right;
    margin: 1em;
    margin-left: 1em;
    
}

img#img0099{
    width: 40%;
    float: right;
    /* margin-bottom: 2em; */
}

a#link{
    background-color: oldlace;
}

ol li {
    margin-bottom: 0.5em;
}

@media (max-width : 500px){
    body{
      margin-left: 2%;
      margin-right:2%;
    }
  }

  .content a {
    width: 50%;
  }

  /* change background color for landscape 
  This changes the font style and weight  */

  @media screen and (orientation: landscape){
   body{
    font-weight: lighter;
   font-style: italic;
    }
    h1{
        background-color: white;
    }
    a:link{
        background-color: greenyellow;
        text-decoration:underline;
     
    }
    a:visited{
        color: blueviolet;
    }
  }

  img.theme{
    width: 20%;
    height: 10%;
    float:inline-start;
    margin: 1em;
    margin-left: 1em;
  }

  div#bigview {
position: fixed;
    top: 10px;
    left: 50px;

  }

div.dontshow {
    display:none;
   
   
}






  
/* 
  @media (mid-width:389) and (max-width: 391)
 and (min-height:843) and (max-height:845)  {
body{
    display: none;
}
  } */