body {  
    color:palevioletred;  

    background-color: oldlace;

    width:fit-content;
}

h2 {  
    color: lightsalmon;  
    background-color: chocolate;
    width: fit-content;
}

h1{
    color: darkgoldenrod;
    background-color: black;

}

h3{
    color: red;

    background-color: aquamarine;

    width: fit-content;
}