body{
    margin-left:20%;
    margin-right:20%;
    background-color:lavender;
    
  }
  
  h1,p{
    text-align:center;
    font-family:arial;

    
  }

  button#mybutt{
    font-size: 1.5em;
  }

  div#card{
   width: 20px;
   height: 20px;
   border: 3px solid black;
   display: none;


  }