body{
    margin-left:10%;
    margin-right:10%;
    background-color:lavender;
    
  }
  
  h1,p{
    text-align:center;
    font-family:arial;

    
  }

  button#mybutt{
    font-size: 1.5em;
  }

  div#card{
   width: 20px;
   height: 20px;
   border: 3px solid black;
   display: none;
  }

  /* media queries for the responsive desgin */
  /* As the brower to identify the properties of the media that
 the content is being displayed on and change the CSS rules accordingly  */


/* as long as the width of th eviewport is less 750px, impement
whatever rules are present in this media query */
