div#largeview {
    position: fixed;
    top: 100px;
    left: 200px;
}

div.dontshow {
    display:none;
}
/* 
div#card2:hover{
    content: url(images/2_of_clubs_small.png);
} */

img.dog{
    width: 8%;
    height: 8%;
}
